<div class="jumbotron">
	<div class="h2"> A Little About Us </div>
	<p>
		We are a Kent-based company which is passionate about making beautiful and functional websites to suit our client's needs. If you need an online presence, help creating your website, or managing, maintaining or reworking an existing website; please do not hesitate to get in touch!
	</p>
	<p>
		Delivering quality bespoke websites to a high standard, we are a design oriented company who always love to take on a new challenge. Our goal is to ultimately meet and work with other creative minds who share our passion for polished visuals and a positive atmosphere. We strive to always create new and exciting work that both client and creator can be proud of.
	</p>
	<p>
		We believe truly great work stems from these three words: "Innovation, imagination and fervor!"
	</p>
</div>