<div class="castle-container">
    <div class="castle">
        <div class="t-left">
            <div class="turret"></div>
            <div class="window"></div>
        </div>
        <div class="t-right">
            <div class="turret"></div>
            <div class="window"></div>
        </div>
        <div class="base"></div>
        <div class="back"></div>
    </div>
    <div class="shadow"></div>
</div>
