<div class="jumbotron jumbo-clients">

	<div class="h2"> Our Clients </div>

	<div class="inter-jumbo">

		<p class="hide-sm">
			We have worked with a variety of clients ranging from business owners to individuals who are just looking for a stronger online presence. They each have specific needs which we are passionate about fulfilling. At Seafox Web we are always looking for a fresh challenge and to grow together with our clients. It is our belief that together, anything is possible. Below are just a few of our websites to get a taste of what we strive for.
		</p>

		<div class="row">

			<div class="col-md-4">
				<div class="client-icon center-block">
					<a href="http://www.bouncingcrazy.co.uk"><img src="/images/bc-icon.png" alt="bc-icon"></a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="client-icon center-block">
					<a href="http://fwc-node.herokuapp.com/"><img src="/images/fwc-icon.png" alt="fwc-icon"></a>
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="client-icon center-block">
					<a href="http://www.ccsu-mts.co.uk/"><img src="/images/ccsu-icon.png" alt="ccsu-icon"></a>
				</div>
			</div>

		</div>

	</div>
	
</div>