<div class="jumbotron jumbo-contact">

	<div class="h2"> Contact Us </div>

	<div class="inter-jumbo">

		<p>
			You can contact us via facebook, phone or email!
		</p>
		<br>

		<div class="row">

			<div class="col-md-4">
				<div class="center-block">
					<a href="https://www.facebook.com/seafoxweb/"><img class="contact-icon" src="/images/fb.png" alt="facebook"></a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="center-block">
					<a href="tel:+447561063861"><img class="contact-icon" src="/images/phone.png" alt="phone"></a>
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="center-block">
					<a href="mailto:cfox@seafoxweb.co.uk"><img class="contact-icon" src="/images/gmail.png" alt="email"></a>
				</div>
			</div>

		</div>

	</div>
	
</div>