<footer class="nav footer text-center">
	<div class="container-fluid">
		<div class="row top-footer">
			<div class="col-md-4">
				<a href="">A link</a>
			</div>
			<div class="col-md-4">
				<a href="">A link</a>
			</div>
			<div class="col-md-4">
				<a href="">A link</a>
			</div>				
		</div>
		<hr class="hr-fade">
		<div class="h5"><a href="/">Seafox Web</a> &copy; 2015 - 2017</div>
	</div>
</footer>