<footer class="nav footer">
	<div class="container-fluid">

		<h4>Recommended by Bouncing Crazy</h4>
		<div class="row top-footer">
			<div class="col-md-2">
				<a href="https://www.pbboothevents.co.uk">Magic Mirror and Photography</a>
			</div>
			<div class="col-md-2">
				<a href="http://vintageveraphotobooth.weebly.com">Vintage Caravan Photobooth</a>
			</div>
			<div class="col-md-2">
				<a href="https://business.facebook.com/encoreshowbusiness/?business_id=906259252748838&ref=bookmarks">Face Painting and Dressup</a>
			</div>
			<div class="col-md-2">
				<a href="http://www.funmachine.eu">DJ - Funmachine</a>
			</div>
			<div class="col-md-2">
				<a href="http://www.pinkprincessparties.co.uk/plymouth-south-west-devon">Hire a Princess</a>
			</div>
			<div class="col-md-2">
				<a href="https://www.memorablemomentstorquay.com">Hire a Mascot</a>
			</div>
		</div>
		<hr>
		<p>Bouncing Crazy | © 2016 | All Rights Reserved</p>
		<h5>Website by <a href="http://www.seafoxweb.co.uk">Seafox Web</a>.</h5>
	</div>
</footer>
