<div id="icons">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-3 col-xs-6">
        <a class="imgswap" href="/kids">
          <img src='/images/icon1Copy.png' alt="Kids Only1" style="border:3px solid #09F;" />
          <img src='/images/icon1.png' alt="Kids Only2" style="border:3px solid #09F;" />
        </a>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <a class="imgswap" href="/allage">
          <img src='/images/icon2Copy.png' alt="All Age1" style="border:3px solid #006;" />
          <img src='/images/icon2.jpg' alt="All Age2" style="border:3px solid #006;" />
        </a>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <a class="imgswap" href="/games">
          <img src='/images/icon3Copy.png' alt="Games1" style="border:3px solid #F0C;" />
          <img src='/images/icon3.jpg' alt="Games2" style="border:3px solid #F0C;" />
        </a>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <a class="imgswap" href="/funrun">
          <img src='/images/icon4Copy.png' alt="Fun Run1" style="border:3px solid #6F0;" />
          <img src='/images/icon4.jpg' alt="Fun Run2" style="border:3px solid #6F0;" />
        </a>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <a class="imgswap" href="/slides">
          <img src='/images/icon5Copy.png' alt="Slides1" style="border:3px solid #60F;" />
          <img src='/images/icon5.jpg' alt="Slides2" style="border:3px solid #60F;" />
        </a>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <a class="imgswap" href="/package-deals">
          <img src='/images/icon6Copy.png' alt="Package Deals1" style="border:3px solid #360;" />
          <img src='/images/icon6.jpg' alt="Package Deals2" style="border:3px solid #360;" />
        </a>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <a class="imgswap" href="/generator-hire">
          <img src='/images/icon7Copy.png' alt="Extras1" style="border:3px solid #C30;" />
          <img src='/images/icon7.png' alt="Extras2" style="border:3px solid #C30;" />
        </a>
      </div>
    </div>
  </div>
</div>
