<div id="icons">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-3 col-xs-6">
        <a class="imgswap" href="/kids">
          <img src='/images/icon1Copy.PNG' alt="Kids Only" style="border:3px solid #09F;" />
          <img src='/images/icon1.PNG' alt="Kids Only" style="border:3px solid #09F;" />
        </a>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <a class="imgswap" href="/allage">
          <img src='/images/icon2Copy.PNG' alt="All Age" style="border:3px solid #006;" />
          <img src='/images/icon2.JPG' alt="All Age" style="border:3px solid #006;" />
        </a>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <a class="imgswap" href="/games">
          <img src='/images/icon3Copy.PNG' alt="Games" style="border:3px solid #F0C;" />
          <img src='/images/icon3.JPG' alt="Games" style="border:3px solid #F0C;" />
        </a>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <a class="imgswap" href="/funrun">
          <img src='/images/icon4Copy.PNG' alt="Fun Run" style="border:3px solid #6F0;" />
          <img src='/images/icon4.JPG' alt="Fun Run" style="border:3px solid #6F0;" />
        </a>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <a class="imgswap" href="/slides">
          <img src='/images/icon5Copy.PNG' alt="Slides" style="border:3px solid #60F;" />
          <img src='/images/icon5.JPG' alt="Slides" style="border:3px solid #60F;" />
        </a>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <a class="imgswap" href="/package-deals">
          <img src='/images/icon6Copy.PNG' alt="Package Deals" style="border:3px solid #360;" />
          <img src='/images/icon6.JPG' alt="Package Deals" style="border:3px solid #360;" />
        </a>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <a class="imgswap" href="/extras">
          <img src='/images/icon7Copy.PNG' alt="Extras" style="border:3px solid #C30;" />
          <img src='/images/icon7.PNG' alt="Extras" style="border:3px solid #C30;" />
        </a>
      </div>
    </div>
  </div>
</div>
