<div id="fb-root"></div>
<script>
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id))
    return; js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
}
(document, 'script', 'facebook-jssdk'));
</script>

<nav class="nav navbar-inverse header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/">
                <img class="logo" src="/images/logo_2017.png" alt="Bouncing Crazy Logo"/>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-custom">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inflatables <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/bouncy-castle-hire-plymouth-devon-cornwall">Kids</a></li>
                        <li><a href="/disco-dome-hire-plymouth-devon-cornwall">All Age</a></li>
                        <li><a href="/games">Games</a></li>
                        <li><a href="/assault-course-hire-plymouth-devon-cornwall">Fun Run</a></li>
                        <li><a href="/slide-hire-plymouth-devon-cornwall">Slides</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/party-package-hire-plymouth-devon-cornwall">Package Deals</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/mobile-stage-hire-plymouth-devon-cornwall">Extras</a></li>
                    </ul>
                </li>
                <li><a href="/caravan-photobooth-hire-plymouth-devon-cornwall">Photobooth</a></li>
                <li><a href="/faqs">FAQs</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-custom">
                <a class="fb-link" href="https://www.facebook.com/bouncingcrazy/"><img id="fblink" src="/images/fb.png" height="32px" alt="Facebook link" /></a>
                <!-- <a class="btn btn-danger navbar-btn" href="tel:+447816910152">Book now! 07816 910 152</a> -->
                <a class="call-btn-desktop btn btn-danger navbar-btn" href="tel:+447816910152">Book now! 07816 910 152</a>
                <a class="call-btn-device btn btn-danger navbar-btn" href="tel:+447816910152"><i class="fa fa-lg fa-phone"></i></a>
            </ul>
        </div>
    </div>
</nav>
