<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id))
      return; js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
  }
  (document, 'script', 'facebook-jssdk'));
</script>

<nav class="nav navbar-inverse header">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/">
        <img id="logo" src="/images/bc-logo.png" alt="Bouncing Crazy Logo"/>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inflatables <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/bouncy-castle-hire-plymouth">Kids Only</a></li>
            <li><a href="/disco-dome-hire-plymouth">All Age</a></li>
            <li><a href="/games">Games</a></li>
            <li><a href="/assault-course-hire-plymouth">Fun Run</a></li>
            <li><a href="/slides">Slides</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/party-package-hire">Package Deals</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/generator-hire-plymouth">Extras</a></li>
          </ul>
        </li>
        <!-- <li><a href="/venues">Indoor Venues</a></li> -->
        <li><a href="/faqs">FAQs</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <a href="https://www.facebook.com/bouncingcrazy/"><img id="fblink" src="/images/fb.png" height="32px" alt="Facebook link" /></a>
        <a class="btn btn-danger navbar-btn" href="tel:+447816910152">Book now! 07816 910 152</a>
      </ul>
    </div>
  </div>
</nav>
