<div class="jumbotron">
	<div class="h2"> Our clients </div>
	<p>
		We have worked with a variety of clients ranging from business owners to individuals who are just looking for a stronger online presence. They each have specific needs which we are passionate about fulfilling. At Seafox Web we are always looking for a fresh challenge and to grow together with our clients. It is our belief that together, anything is possible. Below are just a few of our websites to get a taste of what we strive for.
	</p>
	<div class="row">
		<div class="col-md-4 text-center">.1.</div>
		<div class="col-md-4 text-center">.2.</div>
		<div class="col-md-4 text-center">.3.</div>
	</div>
</div>