<div class="jumbotron jumbo-prices">

	<div class="h2"> Prices </div>

	<div class="inter-jumbo">

		<div class="row">

			<div class="col-md-6">
			<div class="h3">Package 1</div>('Half and Half')
				<p>
					This is our standard package, we will ask what your needs are and what you expect in terms of design. We will then offer you a quote based on how long we think it will take to build your website. We are more than willing to make changes along the way but reserve the right to charge extra if this means alot more work!
				</p>
				<p>
					If you are happy with the amount we have offered, you pay half up-front. Upon receiving your payment we will build your site! When we feel it is ready, we will send you a link to a test environment so that you can check it out and tell us if you think any final tweaks are needed.
				</p>
				<p>
					Upon completion and when both parties are happy you pay us the other half of our agreed fee in addition to any extra fees that may have been incurred by further changes since the original agreement. Of course we would love to stay in touch and will perform any additional work at a negotiable rate.
				</p>
			</div>
			<div class="col-md-6">
			<div class="h3">Package 2</div>('Pay As You Go')
				<p>
					At Seafox Web we know that sometimes money can be tight, which is why we have put together this 'Pay As You Go' scheme. You pay us a small amount each month throughout the duration of your website build. This means you only pay for the work that we do if and when you need it doing.
				</p>
				<p>
					We like to catch up with you at least once each month to make sure you are happy with the way your website is going! This is perfect if you aren't in a rush, and want to take your time getting every detail of your site just right.
				</p>
				<p>
					We offer a live test domain which means you can keep an eye on progress and if you want you can start sending people to visit your website before it's even finished! This is totally free!!! Once your website is finished you can either continue paying us a monthly fee for maintenance and upkeep, or just take your site there and then!
				</p>
			</div>

		</div>

	</div>
	
</div>