<div class="jumbotron jumbo-clear">

	<div class="h2"> Prices </div>

	<div class="inter-jumbo">

		<p>
			What are our prices???
		</p>

		<div class="row">

			<div class="col-md-3">
			</div>
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
			</div>

		</div>

	</div>
	
</div>