<div class="youtube-video-player text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/KoBbVSO7WNw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
