<div class="youtube-video-player">
    <div class="iframe-container">
        <iframe width="100%" src="https://www.youtube.com/embed/KoBbVSO7WNw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>        
    </div>
</div>
