<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bouncing Crazy</title>
	<!-- Bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Boogaloo' rel='stylesheet' type='text/css' />
	<link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css' />
	<!-- My styles -->
	<link rel='stylesheet' href='/stylesheets/bcstyle.css' />
	<!-- Mobile devices | No zoom -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<!-- SEO -->
	<meta name="keywords" content="Bouncing Crazy, bouncy castle hire, Plymouth, Ivybridge, inflatables, castles, Devon, party, event, ivybridge,plymouth,plympton,plymstock,modbury,buckfastleigh,ashburton,saltash,st,budeoux,liskeard,launceston,tavistock,inflatables,castle,castles,for,hire,simpsons,birthday,party,pirate,cheapest,gladiator,duel,dual,obstacle,course,small,large,15ft,ft,cheap,indoors">
	<meta name="description" content="Bouncy castles and inflatables for hire, Plymouth, Ivybridge &amp; and the South West. Welcome to Bouncing Crazy, Slides, Obstacle Courses, Soft Play, Funruns, Large Inflatable Games and Child or Adult Sumo Suit hire in the Plymouth, Devon area. We have the perfect bouncy castle/inflatable for any occassion. We deliver to Ivybridge,Plymouth,Plympton,Plymstock,Modbury,Buckfastleigh,Ashburton,Saltash,St Budeoux,and,Tavistock">
	<!-- Google Analytics -->
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-89705943-1', 'auto');
  ga('send', 'pageview');
	</script>
</head>
<body>
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous">
	</script>
	{{> navbar}}
	<div>
		{{{ body }}}
	</div>
	{{> icons}}
	{{> footer}}
	<a href="#" class="scrollToTop"></a>
	{{> scroll}}
	<!-- Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
	</script>
</body>
</html>
