<!DOCTYPE html>
<html lang="en">
<head>
	<title>Seafox Web</title>
	<!-- My styles -->
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<!-- Bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Orbitron|Montserrat|Candal|Cutive' rel='stylesheet' type='text/css' />
	<!-- Mobile devices | No zoom -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
</head>
<body>
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous">
	</script>
	{{> navbar}}
	<div>
		{{{ body }}}
	</div>
	{{> footer}}
	<a href="#" class="scrollToTop"></a>
	{{> scroll}}
	<!-- Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
	</script>
</body>
</html>
