<div class="container">
  <div class="jumbotron">
    <h1>About Us<br /><span class="title-split"> Bouncing Crazy Bouncy Castle Hire Plymouth</span></h1>
    <div class="textbox">
      <p>What can I say. A little bit about us.
        We are a family business trying to provide the best quality inflatables at the best price we can afford.
        We started 5 years ago with 2 castles and now we have 12 units.
        We love the heart of this business which is to bring the party to your event!
        We don't claim to be perfect and have learnt the ropes over the last 5 years.
        With our experince from this time we are excited to see what happens in the next few years!</p>
        <h3>What can you do?</h3>
        <p>Please Like and Share our Facebook page and if you believe we have provided the service you expected please tell us!
          If you are unhappy do get in touch and talk to us as we are a growing business and want to know what our customers are looking for.</p>
        </div>
        <a class="btn btn-danger btn-lg" href="#" role="button">Check out our Inflatables!</a>
      </div>
    </div>
