<div class="container">
    <div class="jumbotron">
        <h2>Login</h2>
        <form class="" action="" method="post">
            <label for="username">Username: </label>
            <input type="text" name="username" value="">
            <label for="password">Password: </label>
            <input type="text" name="password" value="">
            <button type="submit" name="button">Login</button>
        </form>
    </div>
</div>
