<div class="container entirePush">
    <h1>All Age</h1>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail allage">
                <img class="img-responsive" src="/images/IMG_0005.JPG" alt="jungle15x15" />
                <div class="caption">
                    <h4>Simpsons EXTRA LARGE 20x20</h4>
                    <p>Featuring large bounce space + mini slide!</p>
                    <p>7-12 adult/child capacity</p>
                    <p><strong>Starting from only £95</strong></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail allage">
            	<img class="img-responsive" src="/images/11156154_1598499957057066_1055126049250621755_n.jpg" alt="jungle12x12" />
                <div class="caption">
                    <h4>Classic Castle 16x17</h4>
                    <p>Featuring classic look, Great size!</p>
                    <p>7-10 child capacity, lowest price!</p>
                    <p><strong>Starting from only £75</strong></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail allage">
                <img class="img-responsive" src="/images/disco-dome.jpg" alt="jungle12x12" />
                <div class="caption">
                    <h4>Disco Dome</h4>
                    <p>Featuring built in lights!</p>
                    <p>Suitable for adults</p>
                    <p><strong>£145</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
