<div class="container">
	<div class="jumbotron">
		<h1>Contact<br /><span class="title-split"> Bouncing Crazy Bouncy Castle Hire Plymouth</span></h1>
		<div class="contact-form">
			<p>To keep up to date on our latest deals and units please like and follow our<a href="https://www.facebook.com/bouncingcrazy/"> Facebook </a>page for new updates! You will always get a quick response to messages there.</p>
            <p>To book now call <a href="tel:07816910152">07816910152</a>!</p><br />
            <p> ~ OR ~ </p>
            <h1>Send us a request!</h1>
            <form action="MAILTO:bouncingcrazy@hotmail.com" method="post" accept-charset="UTF-8" enctype="text/plain" autocomplete="off" novalidate>
            <p> Name: </p>
            <input type="text" name="name" placeholder="your name here"><br>
            <p> E-mail: </p>
            <input type="text" name="mail" placeholder="youremail@.co.uk"><br>
            <p> Which inflatable/package would you like to book? </p>
            <input type="text" name="main" size="60"/>
            <p> When would you like the inflatable/package for? </p>
            <input type="text" name="main" size="60"/>
            <p> What surface will inflatables be on? </p>
            <input type="text" name="oth" />
            <p> Electric? </p>
            <input type="radio" name="1" value="Yes" /> Yes
            <input type="radio" name="1" value="No" /> No
            <p> If no would you like to add a petrol blower? </p>
            <input type="radio" name="2" value="Yes" /> Yes
            <input type="radio" name="2" value="No" /> No
            <p> Home Address: </p>
            <input type="text" name="address" size="60" />
            <p> Contact Number: </p>
            <input type="text" name="telephone" />
            <p> When would you prefer to be contacted? </p>
            <input type="radio" name="3" value="Morning" /> Morning
            <input type="radio" name="3" value="Afternoon" /> Afternoon
            <input type="radio" name="3" value="Evening" /> Evening
            <p> Do you have any other requirements or notes? </p>
            <input type="text" name="oth" size="60" placeholder="e.g. A 'tricky-to-traverse' driveway!"/>
            <br /><br />
            <button class="btn btn-success" type="submit" value="Send Message" />Send in Email</button>
            <button class="btn btn-danger" type="reset" value="Reset Fields" />Reset Fields</button>
            </form>
		</div>
	</div>
</div>
