<div class="container entirePush">
    <h1>Extras<br /><span class="title-split"> Bouncing Crazy Bouncy Castle Hire Plymouth</span></h1>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail extras">
                <img class="img-responsive" src="/images/petrol-blower.jpg" width="64%" alt="!" />
                <div class="caption">
                    <h4>Petrol Blower 3.5hp</h4>
                    <p>If you don't have electricity why not add our very compact Petrol blowers?</p>
                    <p>They make things extra bouncy!</p>
                    <p><strong>Only £25 (+£15 for second)</strong></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail extras">
                <img class="img-responsive" src="/images/honda generator.png" width="64%" alt="!" />
                <div class="caption">
                    <h4>Petrol Generator</h4>
                    <p>If you have more to run than a blower this will run 1 electric blower</p>
                    <p><strong>Only £35</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
