<div class="container">
    <div class="jumbotron">
        <div class="textbox">
            <h1>FAQs</h1>
            <p>
            Q: Do you charge for delivery?<br />
            A: No, we do not charge for delivery or pick up of the castle for most areas.<br /><br />

            Q: How long can we have the castle?<br />
            A: You can have the castle for the whole day if you wish.<br /><br />

            Q: Can you pick the castle up the next morning?<br />
            A: Yes we can, please talk to us about your requirements.<br /><br />

            Q: What happens if something goes wrong?<br />
            A: We are here to help and will return to the venue to fix any issues concerning the castle hire free of charge.<br /><br />

            Q: Do I have to pay deposit?<br />
            A: No you dont, you can cancel up to 2 hours before the event for free.<br /><br />

            Q: How can you offer the castle so cheap?<br />
            A: The Bouncing Crazy offers its customers great value and customer service thus we get many repeat bookings helping us to keep costs down.<br /><br />

            Q: We have a party in a hall can I hire a Castle?<br />
            A: Yes you can, we would ask that you confirm the height of the ceiling to see which castles will be suitable.<br /><br />

            Q8: I need a castle immediately can you deliver at short notice?<br />
            A: Yes we can, we are just a phone call away.<br /><br />

            Q: Can we have the Bouncy Castle for more than one day?<br />
            A: Yes certainly, We have special rates for longer hires please let us know your requirements.<br /><br />

            Q: Can we hire more than one castle?<br />
            A: Yes you can, we normally get asked to provide a castle for the kids and a castle for adults.<br /><br />

            Q: I don't have electricity can I still have a bouncy castle<br />
            A: Yes we have petrol blowers and generators which we provide at an extra cost.<br /><br />

            Please call our Enquiry Hotline: 07816910152 if you have any further questions, we will be here to help!
            </p>
        </div>
    </div>
</div>
