<div class="container entirePush">
    <h1>Funrun</h1>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail funrun">
                <img class="img-responsive" src="/images/icon4.jpg" alt="jungle15x15" />
                <div class="caption">
                    <h4>Jungle Assault Course 35ft</h4>
                    <p>The ultimate party starter!</p>
                    <p>Featuring biff bashers, tunnel and ends with 6ft slide!</p>
                    <p><strong>Only £150</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
