<div class="container entirePush">
    <h1>Games<br /><span class="title-split"> Bouncing Crazy Bouncy Castle Hire Plymouth</span></h1>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail games">
                <img class="img-responsive" src="/images/icon3.jpg" alt="jungle15x15" />
                <div class="caption">
                    <h4>35ft Bungee Run</h4>
                    <p>Compete to see who can reach the end<br>without flying back!</p>
                    <p><strong>Only £110</strong></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail games">
                <img class="img-responsive" src="/images/duel.jpg" alt="jungle12x12" />
                <div class="caption">
                    <h4>Gladiator Duel 20x20</h4>
                    <p>Who will be the ultimate gladiator?<br>Stay on the podium the longest to win!</p>
                    <p><strong>Only £85</strong></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail games">
                <img class="img-responsive" src="/images/sumo chicks.jpg" alt="forest-fairy+wizard" />
                <div class="caption">
                    <h4>Sumo Chickens</h4>
                    <p>If you want your friends to look silly;<br>why not try this challenge?</p>
                    <p><strong>Starting from only £65</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail games">
                <img class="img-responsive" src="/images/sumos.png" alt="softplay 30pc" />
                <div class="caption">
                    <h4>Standard Sumo Suits</h4>
                    <p>If the chickens are too much, try these!</p>
                    <p><strong>Only £55</strong></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail games">
                <img class="img-responsive" src="/images/hot_sale_inflatable_fighting_sumo_suit_superhero.jpg_200x200.jpg" alt="forest-fairy+wizard" />
                <div class="caption">
                    <h4>Kid's Superhero Sumo Suits</h4>
                    <p>Fight as your hero!<br>These fit kids aged 7-15</p>
                    <p><strong>Only £45 (Adult suits £75)</strong></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail games">
                <img class="img-responsive" src="/images/unrideablebike.jpg" alt="unrideable bike" />
                <div class="caption">
                    <h4>The literally Unrideable Bike!</h4>
                    <p>Why not take up the challenge?<br>A bike that steers the wrong way!</p>
                    <p><strong>Only £55</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
