<div class="container entirePush">
    <h1>Kids Only<br /><span class="title-split"> Bouncing Crazy Bouncy Castle Hire Plymouth</span></h1>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail kids">
                <img class="img-responsive" src="/images/Jungle 15x15.jpg" alt="jungle15x15" />
                <div class="caption">
                    <h4>Jungle 15x15</h4>
                    <p>Featuring low roof, and digital art</p>
                    <p>Great Size! 7-10 child capacity</p>
                    <p><strong>Starting from only £50</strong></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail kids">
                <img class="img-responsive" src="/images/new12x15kids.png" alt="princess12x15" />
                <div class="caption">
                    <h4>Princess 12x15</h4>
                    <p>Featuring low roof, digital art and slide!</p>
                    <p>Great size! 4-7 child capacity</p>
                    <p><strong>Starting from only £75</strong></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail kids">
            <img class="img-responsive" src="/images/forestfairywizard.jpg" alt="forest-fairy+wizard" />
                <div class="caption">
                    <h4>Forest Fairy and Wizard 12x15</h4>
                    <p>Featuring low roof, and digital art</p>
                    <p>Great Size! 5-8 child capacity</p>
                    <p><strong>Starting from only £65</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail kids">
            <img class="img-responsive" src="/images/soft-play.jpg" alt="softplay 30pc" />
                <div class="caption">
                    <h4>Soft Play 30 Piece Set</h4>
                    <p>A great addition to your event with our massive set of soft play!</p>
                    <p><strong>Only £45 or £90 with any Kid's castle!</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
