<div class="container entirePush">
    <h1>Package Deals<br /><span class="title-split"> Bouncing Crazy Bouncy Castle Hire Plymouth</span></h1>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail pdeals">
                <img class="img-responsive" src="/images/pdeal1.png" alt="Package deal 1" />
                <div class="caption">
                    <h4>Package Deal 1</h4>
                    <p>A great deal for Stag do's and adult parties!</p>
                    <p>Includes Bungee Run, Gladiator duel, Sumo Suits and a Bouncy Castle.</p>
                    <p><strong>All for just £245</strong></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail pdeals">
                <img class="img-responsive" src="/images/pdeals.jpg" alt="Package deal 2" />
                <div class="caption">
                    <h4>Package Deal 2</h4>
                    <p>This is a very good all-round deal!</p>
                    <p>The Amazing Assault Course, Gladiator Duel and Simpsons adult Bouncy Castle!</p>
                    <p><strong>All for just £265</strong></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail pdeals">
                <img class="img-responsive" src="/images/pdeals3.png" alt="Package deal 3" />
                <div class="caption">
                <h4>Package Deal 3</h4>
                <p>Even bigger, even better!</p>
                <p>The Amazing Assault Course, Gladiator Duel and Simpsons adult Bouncy Castle! + Bungee Run and Sumo Suits!!</p>
                <p><strong>All for just £365</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail pdeals">
                <img class="img-responsive" src="/images/Bouncy Castle and soft play deal.jpg" alt="Toddler Package deal" />
                <div class="caption">
                    <h4>Toddlers Package</h4>
                    <p>Soft play and any "Kid's only" castle</p>
                    <p><strong>All for just £95</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <div class="caption">
            <h4>Why not make your own?</h4>
            <p>Get in touch - 07816910152</p>
        </div>
    </div>
</div>
