<div class="container entirePush">
    <h1>Slides</h1>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail slides">
                <img class="img-responsive" src="/images/newSlide.jpg" alt="10ft slide" />
                <div class="caption">
                    <h4>10ft platform Mega Slide 17x20</h4>
                    <p>The ultimate extreme fun for any party</p>
                    <p>Only £95</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail slides">
                <img class="img-responsive" src="/images/IMG_0012.JPG" alt="6ft slide" />
                <div class="caption">
                    <h4>6ft Up and Over Slide 17x20</h4>
                    <p>The ultimate extreme fun for any party</p>
                    <p>Only £65</p>
                </div>
            </div>
        </div>
    </div>
</div>
