/* Shared styles */

body {
	padding: 0;
	font-family: 'Cabin', sans-serif;
	background: $white-1 url('/images/background.png') no-repeat center fixed;
	position: relative;
}
.app-body {
	padding: 20px 0;
}
.error {
	padding-bottom: 80px;
}

.jumbotron {
	background: $white-1;
    h1, h2, h3 {
        color: $color-main;
    }
	p {
		font-size: 16px;
	}
}

/* Text styling */
a { text-decoration: underline; }
p { font-size: 16px; }
h1, h2, h3, h4 { font-family: 'Boogaloo', cursive; }
h1 { font-size: 36px; margin: 0.4em auto !important; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 12px; }
h5 { font-size: 12px; }

.page-title {
	color: $color-main;
}

.title-split {
	font-size: 28px;
}

.container {
    h1 {
	    margin: 0.4em auto 1.2em;
    }
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(200, 0, 0, 0), rgba(200, 0, 0, 0.75), rgba(200, 0, 0, 0));
}

.textbox {
	width: 85;
	margin: 0 auto;
	padding: 20px 0;
	text-align: justify;
}
.iframe-container {
	margin: 0 auto;
	max-width: 800px;
	.parent {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;
		overflow: hidden;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100% !important;
			height: 100% !important;
		}
	}
}
