/* Variables */

$color-main: #d00;
$color-accent: #012;

$color-hover: #06f;

$white-0: #fff;
$white-1: #eee;
$white-2: #ddd;
$white-3: #ccc;

$grey-0: #111;
$grey-1: #333;
$grey-2: #555;
$grey-3: #777;

$castle-main: #fd4;
$castle-accent-dark: #fc3;
$castle-accent-light: #fe5;
$castle-turret: #e40;
$castle-window-bg: #123;
$castle-window-border: #248;
$castle-window-border-bottom: #ffc;

$color-kids: #09f;
$color-allage: #006;
$color-games: #d3a;
$color-funrun: #170;
$color-slides: #50c;
$color-pdeals: #360;
$color-extras: #c30;
