@media screen and (max-width: 991px) {
    .app-body {
        padding-bottom: 320px;
    }
}
@media screen and (min-width: 769px) {
    .product-grid {
    	grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 768px) {
    .product-grid {
        width: 480px;
    	grid-template-columns: repeat(2, 1fr);
    }
    .product-tile img {
    	margin: 8px auto;
    	height: 120px;
    }
}
@media screen and (max-width: 480px) {
    .app-body {
        padding-bottom: 360px;
    }
    .product-grid {
        width: 80vw;
    	grid-template-columns: 1fr;
    }
    .product-tile .caption {
    	min-height: 100px;
    }
}

/* Device Handling */
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    body {
    background:url('/images/back-ipad.png') no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
    }
}
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    body {
	background:url('/images/back-ipad2.png') no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
    }
}
/* iPhone 4 - (portrait) ---------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 2) and (orientation:portrait),
only screen and (min-device-pixel-ratio : 2)  and (orientation:portrait){
    body {
	background:url('/images/back-phone.png') no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
    }
}
/* iPhone 4 - (landscape) ---------- */
@media screen and (-webkit-min-device-pixel-ratio : 2) and (orientation:landscape), screen and (min-device-pixel-ratio : 2) and (orientation:landscape){
    body {
	background:url('/images/back-phone2.png') no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
    }
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    body {
    background:url('/images/back-phone.png') no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
    }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) and (max-width: 480px) {
    body {
	background:url('/images/back-phone2.png') no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
    }
}
