/* CSS */

/* Main page styles */
body {
	margin: 0 auto;
	padding-top: 70px;
	background: #000 !important;
	text-align: center;
	overflow-x: hidden;
}

.jumbotron a {
	color: #333 !important;
	text-decoration: none !important;
}

.jumbotron a:hover {
	color: #14b !important;
	text-decoration: none !important;
}

.h1 {
	font-family: 'Orbitron', sans-serif !important;
	font-size: 52px !important;
	color: #fa0 !important;
}

@media screen and (max-width: 431px) {
	.h1 {
		font-size: 40px !important;
	}
}

.h2 {
	font-family: 'Candal', sans-serif !important;
	font-size: 36px !important;
	margin-bottom: 40px !important;
}

.h3 {
	font-family: 'Montserrat', sans-serif !important;
	font-size: 28px !important;
	margin-bottom: 24px !important;
}

p {
	font-family: 'Tahoma', serif !important;
}

ul li a, a {
	color: #ddd !important;
}
ul li a:hover, a:hover {
	color: #2ff !important;
}

.hr-fade {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 20, 80, 0), rgba(30, 180, 220, 1), rgba(0, 20, 80, 0));
}
/* --- */

/* Navbar */
.header {
	color: #fef;
	background: rgba(0, 80, 170, 0.8) !important;
}
.header ul li ul {
	background: rgba(0, 80, 170, 0.8) !important;
}
/* --- */

.welcome {
	margin: -70px 0 30px 0;
	padding: 120px 0 160px 0;
	background: #123 url("/images/lights-welcome-lg.jpg") center 100% no-repeat;
	background-size: cover;
}

.jumbo-contact {
	margin: 0 !important;
	color: #ccc !important;
	background: #024 !important;
}

.jumbo-prices {
	margin: 0 !important;
	color: #fef !important;
	background: #157 !important;
}

.jumbo-clients {
	margin: 0 !important;
	color: #ccc !important;
	background: #123 url("/images/purple-bg.png") center 100% no-repeat;
	background-size: cover;
}

.inter-jumbo p {
	margin: 1.2em 2.4em;
}

@media screen and (max-width: 431px) {
	.hide-sm {
		display: none;
	}
}

.contact-icon {
	margin: 10px 0;
}

.client-icon {
	background: rgba(255, 255, 255, 0.8);
	width: 80px;
	height: 80px;
	margin: 20px 50px;
	border: 1px solid #ccc;
	border-radius: 50%;
}

.client-icon img {
	width: 40px;
	height: 40px;
	margin: 20px;
}

/* Footer */
.footer {
	padding: 20px 0 10px 0;
	height: auto;
	background: #148;
	color: #fef;
	width: 100%;
}
.footer a {
	color: #fef;
}
.footer a:hover {
	text-decoration: none;
	color: #8df;
}
/* --- */

.scrollToTop {
	border-radius: 24px;
    width:48px; height:48px;
    background: url('/images/scrollUp.png') no-repeat center;
    position:fixed; right:10px; bottom:5px;
    display:none;
}