/* CSS */

/* Main page styles */
body {
  padding-top: 70px;
}

.hr-fade {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 80, 0), rgba(0, 0, 80, 0.8), rgba(0, 0, 80, 0));
}

/* Footer */
.footer {
	padding: 20px 0;
	height:auto;
	background:#148;
	color: #fef;
	width: 100%;
}
.footer a {
	color: #fef;
}
.footer a:hover {
	color: #8df;
}