.carousel {
	margin: 0 auto;
	max-width: 480px;
}
.img-carousel {
	margin: 0 auto;
	max-height: 364px;
	max-width: 512px;
}

.breaker-img-pair {
	img {
		margin: 24px auto;
		max-height: 250px;
		float: none;
		@media screen and (min-width: 1200px) {
			min-height: 250px;
			&:nth-of-type(2n + 1) {
				float: left;
			}
			&:nth-of-type(2n) {
				float: right;
			}
		}
	}
}

.inflatables-direct-links {
	margin: 0 auto 32px;
	.col-sm-4 {
		margin-bottom: 12px;
	}
	a {
		font-weight: bold;
		padding: 12px 40px;
		color: $white-1;
		box-shadow: 0 0 2px $grey-0;
		transition: ease-out 0.2s;
		.focus, &:focus {
			color: $grey-2;
		}
		&:hover {
			transition: ease-in 0.2s;
		}
		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.youtube-video-player {
	margin: 32px auto;
	max-width: 600px;
	height: 350px;
	@media screen and (max-width: 991px) {
		height: 150px;
	}
	.iframe-container {
		height: 100% !important;
		iframe {
			height: 100% !important;
		}
	}
}
