.carousel {
	margin: 0 auto;
	max-width: 480px;
}
.img-carousel {
	margin: 0 auto;
	max-height: 364px;
	max-width: 512px;
}

.breaker-img-pair {
	img {
		margin: 24px auto;
		max-height: 250px;
	}
}

/* Social Media */
#fblink {
	margin-right: 12px;
	border-radius: 10%;
}

.inflatables-direct-links {
	margin: 0 auto 32px;
	button {
		font-weight: bold;
		padding: 1em;
		color: $white-1;
		box-shadow: 0 0 2px $grey-0;
		transition: ease-out 0.2s;
		.focus, &:focus {
			color: $grey-2;
		}
		&:hover {
			transition: ease-in 0.2s;
		}
	}
}

.youtube-video-player {
	margin: 32px auto;
}
