.carousel {
	margin: 0 auto;
	max-width: 480px;
}
.img-carousel {
	margin: 0 auto;
	max-height: 364px;
	max-width: 512px;
}

.breaker-img-pair {
	img {
		margin: 24px auto;
		max-height: 250px;
	}
}

/* Social Media */
#fblink {
	margin-right: 12px;
	border-radius: 10%;
}
