<div class="container">
    <div class="jumbotron">
        <h1 class="page-title">All Age<br />
            <span class="title-split"> Bouncing Crazy Bouncy Castle Hire Plymouth and across Devon</span>
        </h1>
        <div class="textbox">
            Did you think that Bouncy Castles were just for kids? Well we have a great surprise for you, with our Adults Bouncy Castle Hire. From the super bouncy Simpson Castle to the Wedding Castle (with personalised themes) to one of my personal favourites the stunning Disco Dome with Lights and sound built in and Bluetooth connectable. You can't beat it to add the WOW factor to your event. So make your booking <a href="/contact">here</a> today. All Castle are free delivery 10 Miles around Plymouth, Saltash and Ivybridge.
        </div>
    </div>
    <div class="product-grid">
        <div class="product-tile allage">
            <div class="product-img">
                <img class="img-responsive" src="/images/mobile_stage1.jpg" alt="staging" />
            </div>
            <div class="caption">
                <h3>Mobile Stage and Inflatable Stage Cover</h3>
                <p>This looks amazing at any event. It is 6m long by 4m wide and 4m deep. You can nicely fit a large band in this.</p>
                <div class="price">Only <span>£450</span> or <br /><span>£300</span> without a stage</div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Mobile_Stage">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-tile allage">
            <div class="product-img">
                <img class="img-responsive" src="/images/fantastic_adult_castle.jpg" alt="Fanatastic Adult Bouncy Castle" />
            </div>
            <div class="caption">
                <h3>Fanatastic Adult Bouncy Castle</h3>
                <p>With plenty of space for loads of adults and kids alike with a 12ft roof clearance. This will be perfect for Weddings, Fetes, Birthdays and Everything in between.</p>
                <div class="price">Starting from only <span>£110</span></div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Fanatastic_Adult_Bouncy_Castle">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-tile allage">
            <div class="product-img">
                <img class="img-responsive" src="/images/IMG_0005.JPG" alt="jungle15x15" />
            </div>
            <div class="caption">
                <h3>Simpsons EXTRA LARGE 20x20</h3>
                <p>Featuring large bounce space + mini slide! Suitable for adults.</p>
                <div class="price">Starting from only <span>£95</span></div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Simpsons_EXTRA_LARGE_20x20">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-tile allage">
            <div class="product-img">
                <img class="img-responsive" src="/images/11156154_1598499957057066_1055126049250621755_n.jpg" alt="jungle12x12" />
            </div>
            <div class="caption">
                <h3>Classic Castle 16x17</h3>
                <p>Featuring classic look, Great size! Lowest price!</p>
                <div class="price">Starting from only <span>£75</span></div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Classic_Castle_16x17">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-tile allage">
            <div class="product-img">
                <img class="img-responsive" src="/images/disco-dome.jpg" alt="jungle12x12" />
            </div>
            <div class="caption">
                <h3>Disco Dome</h3>
                <p>Featuring built in lights! Suitable for adults.</p>
                <div class="price"><span>£145</span></div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Disco_Dome">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-tile allage">
            <div class="product-img">
                <img class="img-responsive" src="/images/disco_lights.jpg" width="64%" alt="!" />
            </div>
            <div class="caption">
                <h3>Bluetooth DJ with Disco Lights</h3>
                <p>Want to play your own music? Try our Bluetooth DJ addon!</p>
                <div class="price">Only <span>£60</span></div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Bluetooth_DJ_With_Disco_Lights">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
