<div class="container">
    <h1 class="page-title">All Age<br />
        <span class="title-split"> Bouncing Crazy Bouncy Castle Hire Plymouth and across Devon</span>
    </h1>
    <div class="product-grid">
        <div class="product-tile allage">
            <div class="product-img">
                <img class="img-responsive" src="/images/IMG_0005.JPG" alt="jungle15x15" />
            </div>
            <div class="caption">
                <h3>Simpsons EXTRA LARGE 20x20</h3>
                <p>Featuring large bounce space + mini slide!</p>
                <p>7-12 adult/child capacity</p>
                <div class="price">Starting from only <span>£95</span></div>
                <div class="enquire-now">
                    <button class="btn btn-info">Enquire now</button>
                </div>
            </div>
        </div>
        <div class="product-tile allage">
            <div class="product-img">
                <img class="img-responsive" src="/images/11156154_1598499957057066_1055126049250621755_n.jpg" alt="jungle12x12" />
            </div>
            <div class="caption">
                <h3>Classic Castle 16x17</h3>
                <p>Featuring classic look, Great size!</p>
                <p>7-10 child capacity, lowest price!</p>
                <div class="price">Starting from only <span>£75</span></div>
                <div class="enquire-now">
                    <button class="btn btn-info">Enquire now</button>
                </div>
            </div>
        </div>
        <div class="product-tile allage">
            <div class="product-img">
                <img class="img-responsive" src="/images/disco-dome.jpg" alt="jungle12x12" />
            </div>
            <div class="caption">
                <h3>Disco Dome</h3>
                <p>Featuring built in lights!</p>
                <p>Suitable for adults</p>
                <div class="price"><span>£145</span></div>
                <div class="enquire-now">
                    <button class="btn btn-info">Enquire now</button>
                </div>
            </div>
        </div>
    </div>
</div>
