<div class="container">
	<div class="jumbotron">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h1>Contact<br />
					<span class="title-split"> Bouncing Crazy Bouncy Castle Hire Plymouth</span>
				</h1>
			</div>
		</div>
		<div class="iframe-container">
			{{> googleMap }}
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 col-xs-12">
				<br />
				<p>To keep up to date on our latest deals and units please like and follow our<a href="https://www.facebook.com/bouncingcrazy/"> Facebook </a>page for new updates! You will always get a quick response to messages there.</p>
				<p>To book now call <a href="tel:07816910152">07816910152</a>!</p>
				<p> ~ OR ~ </p>
				<h2>Send us a request!</h2>
			</div>
			<form class="col-sm-8 col-sm-offset-2 col-xs-12" action="MAILTO:bouncingcrazy@hotmail.com" method="post" accept-charset="UTF-8" enctype="text/plain" autocomplete="off" novalidate>
				<div class="form-group">
					<label>Name:</label>
					<input class="form-control" type="text" name="name" placeholder="E.g. John Smith"><br>
				</div>
				<div class="form-group">
					<label>E-mail:</label>
					<input class="form-control" type="text" name="mail" placeholder="E.g. youremail@company.co.uk"><br>
				</div>
				<div class="form-group">
					<label>Which inflatable/package would you like to book?</label>
					{{#if enquiredProduct}}
					<input class="form-control" type="text" name="enquired" value={{ enquiredProduct }} />
					{{else}}
					<input class="form-control" type="text" name="enquired" value="" />
					{{/if}}
				</div>
				<div class="form-group">
					<label>When would you like the inflatable/package for?</label>
					<input class="form-control" type="text" name="main" size="60" />
				</div>
				<div class="form-group">
					<label>What surface will inflatables be on?</label>
					<input class="form-control" type="text" name="oth" />
				</div>
				<div class="form-group">
					<label class="form-check-label">Is there electricity available?</label><br />
					<input class="form-check-input" type="radio" name="electricity" value="Yes" /> Yes
					<input class="form-check-input" type="radio" name="electricity" value="No" /> No
				</div>
				<div class="form-group">
					<label class="form-check-label">If no would you like to add a petrol blower?</label><br />
					<input class="form-check-input" type="radio" name="petrol_blower_addon" value="Yes" /> Yes
					<input class="form-check-input" type="radio" name="petrol_blower_addon" value="No" /> No
				</div>
				<div class="form-group">
					<label class="form-check-label">Add our Bluetooth DJ addon for only an additional £60?</label><br />
					<input class="form-check-input" type="radio" name="bluetooth_DJ_addon" value="Yes" /> Yes
					<input class="form-check-input" type="radio" name="bluetooth_DJ_addon" value="No" /> No
				</div>
				<div class="form-group">
					<label>Home Address:</label>
					<input class="form-control" type="text" name="address" size="60" />
				</div>
				<div class="form-group">
					<label>Contact Number:</label>
					<input class="form-control" type="text" name="telephone" />
				</div>
				<div class="form-group">
					<label class="form-check-label">When would you prefer to be contacted?</label><br />
					<input class="form-check-input" type="radio" name="3" value="Morning" /> Morning
					<input class="form-check-input" type="radio" name="3" value="Afternoon" /> Afternoon
					<input class="form-check-input" type="radio" name="3" value="Evening" /> Evening
				</div>
				<div class="form-group">
					<label>Do you have any other requirements or notes?</label>
					<input class="form-control" type="text" name="oth" size="60" placeholder="E.g. A tricky to traverse driveway!"/>
				</div>
				<button class="btn btn-success" type="submit" value="Send Message" />Send in Email</button>
				<button class="btn btn-danger" type="reset" value="Reset Fields" />Reset Fields</button>
			</form>
		</div>
	</div>
</div>
