<div class="error text-center">
    <h1>Error: {{error.status}} | {{message}}</h1>
    <!-- <pre>Stack: {{error.stack}}</pre> -->
    <h2>Please click <a href="/">here</a> to bounce back to our Home page.</h2>
    {{> castle }}
</div>
