<div class="container">
    <h1>Extras<br />
        <span class="title-split"> Bouncing Crazy Bouncy Castle Hire Plymouth</span>
    </h1>
    <div class="product-grid">
        <div class="product-tile extras">
            <img class="img-responsive" src="/images/petrol-blower.jpg" width="64%" alt="!" />
            <div class="caption">
                <h3>Petrol Blower 3.5hp</h3>
                <p>If you don't have electricity why not add our very compact Petrol blowers?</p>
                <p>They make things extra bouncy!</p>
            </div>
            <div class="price">Only £25 (+£15 for second)</div>
            <div class="enquire-now">
                <button class="btn btn-info">Enquire now</button>
            </div>
        </div>
        <div class="product-tile extras">
            <img class="img-responsive" src="/images/honda generator.png" width="64%" alt="!" />
            <div class="caption">
                <h3>Petrol Generator</h3>
                <p>If you have more to run than a blower this will run 1 electric blower</p>
            </div>
            <div class="price">Only £35</div>
            <div class="enquire-now">
                <button class="btn btn-info">Enquire now</button>
            </div>
        </div>
    </div>
</div>
