<div class="container">
    <h1 class="page-title">Extras<br />
        <span class="title-split"> Bouncing Crazy Bouncy Castle Hire Plymouth</span>
    </h1>
    <div class="product-grid">
        <div class="product-tile extras">
            <div class="product-img">
                <img class="img-responsive" src="/images/disco_lights.jpg" width="64%" alt="!" />
            </div>
            <div class="caption">
                <h3>Bluetooth DJ with Disco Lights</h3>
                <p>Want to play your own music?</p>
                <p>Try our Bluetooth DJ addon!</p>
                <div class="price">Only <span>£60</span></div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Bluetooth_DJ_With_Disco_Lights">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-tile extras">
            <div class="product-img">
                <img class="img-responsive" src="/images/petrol-blower.jpg" width="64%" alt="!" />
            </div>
            <div class="caption">
                <h3>Petrol Blower 3.5hp</h3>
                <p>If you don't have electricity why not add our very compact Petrol blowers?</p>
                <p>They make things extra bouncy!</p>
                <div class="price">Only <span>£25</span> (+<span>£15</span> for second)</div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Petrol_Blower_3.5hp">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-tile extras">
            <div class="product-img">
                <img class="img-responsive" src="/images/honda generator.png" width="64%" alt="!" />
            </div>
            <div class="caption">
                <h3>Petrol Generator</h3>
                <p>If you have more to run than a blower this will run 1 electric blower</p>
                <div class="price">Only <span>£35</span></div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Petrol_Generator">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
