<div class="container">
    <div class="jumbotron">
        <div class="textbox">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h1>
                        FAQs<br />
                        <span class="title-split"> Bouncing Crazy Bouncy Castle Hire Plymouth</span>
                    </h1>
                    Q: Do you charge for delivery?<br />
                    A: No, we do not charge for delivery or pick up of the castle for most areas.<br /><br />

                    Q: How long can we have the castle?<br />
                    A: You can have the castle for the whole day if you wish.<br /><br />

                    Q: Can you pick the castle up the next morning?<br />
                    A: Yes we can, please talk to us about your requirements.<br /><br />

                    Q: What happens if something goes wrong?<br />
                    A: We are here to help and will return to the venue to fix any issues concerning the castle hire free of charge.<br /><br />

                    Q: Do I have to pay deposit?<br />
                    A: No you dont, you can cancel up to 2 hours before the event for free.<br /><br />

                    Q: How can you offer the castle so cheap?<br />
                    A: The Bouncing Crazy offers its customers great value and customer service thus we get many repeat bookings helping us to keep costs down.<br /><br />

                    Q: Do you do Adult inflatables?<br />
                    A: You are in for a treat! We have some incredible units for Hire like our <a href="/games">Bungee Run</a>, <a href="/funrun">Assault Course</a>, <a href="/allage">Adult Bouncy Castles</a>, <a href="/allage">Disco Dome</a>, <a href="/games">Gladiator Duel</a> and <a href="/games">Sumo Suits</a>.<br /><br />

                    Q: We have a party in a hall can I hire a Castle?<br />
                    A: Yes you can, we would ask that you confirm the height of the ceiling to see which castles will be suitable.<br /><br />

                    Q8: I need a castle immediately can you deliver at short notice?<br />
                    A: Yes we can, we are just a phone call away.<br /><br />

                    Q: Can we have the Bouncy Castle for more than one day?<br />
                    A: Yes certainly, We have special rates for longer hires please let us know your requirements.<br /><br />

                    Q: Can we hire more than one castle?<br />
                    A: Yes you can, we normally get asked to provide a castle for the kids and a castle for adults.<br /><br />

                    Q: I want a lot of Castles and don't want to pay the full price, Do you have any options?<br />
                    A: Yes if you look on our <a href="/package-deals">Party Package Deals</a> page we have a load of fantastic offers giving incredible discounts saving up to £135  From our <a href="/package-deals">Toddlers Soft Play Package</a>, to our Action packed <a href="/package-deals">Games Package</a> and if we don't have anything that suits you give us a call.<br /><br />

                    Q: I don't have electricity can I still have a bouncy castle<br />
                    A: Yes we have petrol blowers and generators which we provide at an extra cost.<br /><br />

                    Please call our Enquiry Hotline: <a href="tel:07816910152">07816 910 152</a> if you have any further questions, we will be here to help!
                </div>
            </div>
        </div>
    </div>
</div>
