<div class="container">
    <h1 class="page-title">Games<br />
        <span class="title-split"> Bouncing Crazy Bouncy Castle Hire Plymouth</span>
    </h1>
    <div class="product-grid">
        <div class="product-tile games">
            <div class="product-img">
                <img class="img-responsive" src="/images/icon3.jpg" alt="jungle15x15" />
            </div>
            <div class="caption">
                <h3>35ft Bungee Run</h3>
                <p>Compete to see who can reach the end<br>without flying back!</p>
                <div class="price">Only <span>£110</span></div>
                <div class="enquire-now">
                    <button class="btn btn-info">Enquire now</button>
                </div>
            </div>
        </div>
        <div class="product-tile games">
            <div class="product-img">
                <img class="img-responsive" src="/images/duel.jpg" alt="jungle12x12" />
            </div>
            <div class="caption">
                <h3>Gladiator Duel 20x20</h3>
                <p>Who will be the ultimate gladiator?<br>Stay on the podium the longest to win!</p>
                <div class="price">Only <span>£85</span></div>
                <div class="enquire-now">
                    <button class="btn btn-info">Enquire now</button>
                </div>
            </div>
        </div>
        <div class="product-tile games">
            <div class="product-img">
                <img class="img-responsive" src="/images/sumo chicks.jpg" alt="forest-fairy+wizard" />
            </div>
            <div class="caption">
                <h3>Sumo Chickens</h3>
                <p>If you want your friends to look silly;</p>
                <p>why not try this challenge?</p>
                <div class="price">Starting from only <span>£65</span></div>
                <div class="enquire-now">
                    <button class="btn btn-info">Enquire now</button>
                </div>
            </div>
        </div>
        <div class="product-tile games">
            <div class="product-img">
                <img class="img-responsive" src="/images/sumos.png" alt="softplay 30pc" />
            </div>
            <div class="caption">
                <h3>Standard Sumo Suits</h3>
                <p>If the chickens are too much,</p>
                <p>try these!</p>
                <div class="price">Only <span>£55</span></div>
                <div class="enquire-now">
                    <button class="btn btn-info">Enquire now</button>
                </div>
            </div>
        </div>
        <div class="product-tile games">
            <div class="product-img">
                <img class="img-responsive" src="/images/hot_sale_inflatable_fighting_sumo_suit_superhero.jpg_200x200.jpg" alt="forest-fairy+wizard" />
            </div>
            <div class="caption">
                <h3>Kid's Superhero Sumo Suits</h3>
                <p>Fight as your hero!</p>
                <p>These fit kids aged 7-15</p>
                <div class="price">Only <span>£45</span> (Adult suits <span>£75</span>)</div>
                <div class="enquire-now">
                    <button class="btn btn-info">Enquire now</button>
                </div>
            </div>
        </div>
        <div class="product-tile games">
            <div class="product-img">
                <img class="img-responsive" src="/images/unrideablebike.jpg" alt="unrideable bike" />
            </div>
            <div class="caption">
                <h3>The literally Unrideable Bike!</h3>
                <p>Why not take up the challenge?</p>
                <p>A bike that steers the wrong way!</p>
                <div class="price">Only <span>£55</span></div>
                <div class="enquire-now">
                    <button class="btn btn-info">Enquire now</button>
                </div>
            </div>
        </div>
    </div>
</div>
