<div class="container">
    <div class="jumbotron">
        <div class="fb-like" data-href="https://www.facebook.com/bouncingcrazy/" data-width="80px" data-layout="box_count" data-action="like" data-show-faces="false" data-share="true">
        </div>

        <h1 class="page-title">WELCOME TO BOUNCING CRAZY PLYMOUTH!</h1>
        <h2>Quality Bouncy Castle Hire in Plymouth and across Devon, At Affordable Prices!</h2>
        <hr>
        {{> carousel }}
        <div class="textbox">

            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <h3>THE COMPANY</h3>
                    We are a family run business established in 2010 based in Plymouth, Devon. With over 15 units to choose from we certainly have something for you. With prices starting from as little as £50.

                    We are the friendliest Bouncy Castle Hire Business around! We will fight through traffic, leave super-early and speed down the A38! We always make sure you get your inflatable on time for that special day!
                    We don't want to leave until there is a smile on every face. For any questions on this claim please see our 100% 5/5 reviews on <a href="https://www.facebook.com/bouncingcrazy/reviews">Facebook</a>, <a href="https://www.yell.com/biz/bouncing-crazy-plymouth-7338004/">Yell</a> and <a href="https://www.google.co.uk/search?q=bouncing+crazy+reviews+google&ie=utf-8&oe=utf-8&client=firefox-b-ab&gfe_rd=cr&ei=3ciVWNPNJaf38Af3s4vwCA#safe=off&q=bouncing+crazy+reviews+google&lrd=0x486cfd6c33c4bd6d:0xab9fe4d1bd306568,1,">Google</a>.
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <h3>SAFETY FIRST</h3>
                    At Bouncing Crazy Bouncy Castle Hire, We are extremely hot on safety. We have researched long and hard to find the best equipment for our customers, That is exactly what you will find here when booking a Bouncy Castle Hire with us. Our equipment is the best in the business, With 5 million Public Liability Insurence and Highly Trained staff it is very important we do not take short cuts in any way.
                    So as standard you will have safety Matting, Anchoring to the ground firmly with multiple webbed anchor points.
                    Not only that but we make sure the weather is suitable to inflate a Bouncy Castle or Inflatable. These factors include checking the if it is going to be raining and that the wind speed is not above the national standard of 24mph.
                </div>
            </div>

            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <h3>AVAILABILITY </h3>
                    We offer a large selection of fantastic Bouncy Castles &amp; Games to hire at affordable prices! Our reputation is built on years of great customer service, price &amp; reliability! Take a look around our site and get in touch if you need help in any way!
                    We do Weddings, Birthday Parties, Corporate Functions, Sporting Events. No event is to big or too small for our team to cater for.
                    We cannot guarantee the weather but we can guarantee to bring the WOW factor to your event and won't be content until we have left that lasting impression. We also offer a free service to come to your fête or event, and Usually charge £2 for 10 minutes £5 for a full day! Fully trained staff ready to make your experience the best it can be!
                </div>
            </div>

            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <h3>MONEY</h3>
                    If you are worried about the financial commitment and money is tight for you. We can offer a INTEREST FREE MONTHLY PAYMENT PLAN before the day.
                    We don't ask for any DEPOSIT to book at all and if its bad weather and you need to cancel we offer a FREE BAD WEATHER CANCELLATION POLICY.
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <h3>NEWS</h3>
                    As a growing business it is paramount to us that each year we upgrade and add new Bouncy Castles to our stock, So this year we have our AMAZING DISCO DOME and STUNNING PRINCESS CASTLE. (Pictured below)
                </div>
            </div>

            <div class="row breaker-img-pair">
                <div class="col-xs-8 col-xs-offset-2">
                    <img class="img-responsive pull-left" src="/images/disco-dome.jpg" alt="disco-dome">
                    <img class="img-responsive pull-right" src="/images/new12x15kids.png" alt="princess-castle">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    At Bouncing Crazy we are often asked "Do you do Adult inflatables?" Well you are in for a treat! We have some incredible units for Hire like our <a href="/games">Bungee Run</a>, <a href="/funrun">Assault Course</a>, <a href="/allage">Adult Bouncy Castles</a>, <a href="/allage">Disco Dome</a>, <a href="/games">Gladiator Duel</a> and <a href="/games">Sumo Suits</a>.
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    But I want a lot of Castles and don't want to pay full price, Do you have any options?
                    Yes if you look on our <a href="/package-deals">Party Package Deals</a> page we have a load of fantastic offers giving incredible discounts saving up to £135  From our <a href="/package-deals">Toddlers Soft Play Package</a>, to our Action packed <a href="/package-deals">Games Package</a> and if we don't have anything that suits you give us a call.
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <h3>TO BOOK</h3>
                    So what now? To <a href="/contact">book</a> your Bouncy Castle or Inflatable find our <a href="/contact">Contact page</a> to <a href="/contact">book</a> online. We will follow up to confirm a booking. Or you can Call now on <a href="tel:07816910152">07816 910 152</a>.
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <h3>DELIVERY </h3>
                    We offer FREE delivery up to 10 miles surrounding Plymouth and only charge a extra £1 a mile on top of that elsewhere.
                    We do reserve the right to refuse a booking on the day if nobody is in on delivery, There isn't enough clear access depending on the inflatable up to 3ft wide, or the ground is not clear of dog mess, stones, sharp objects, overhanging trees or we think the inflatable will not be safely controlled.
                    We reserve the right to not deliver an item intended for outdoor use if the weather is unsuitable for safe usage.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 twitter-feed">
                <a
                class="twitter-timeline"
                href="https://twitter.com/bouncing_crazy"
                data-tweet-limit="4"
                >
                    Tweets by @bouncing_crazy
                </a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>
