<div class="container">
    <div class="jumbotron">
        <h1 class="page-title">Kids<br />
            <span class="title-split"> Bouncing Crazy Bouncy Castle Hire Plymouth and across Devon</span>
        </h1>
        <div class="textbox">
            We at Bouncing Crazy Bouncy Castle Hire are passionate about making your experience the best imaginable. So we have a section that is kept only for Kids Bouncy Castle Hire. These are fantastic Castles for any occasion with all sorts of themes available at your choice. If you think your Child is too small for a Bouncy Castle we have a fantastic Soft Play set available for hire. Click <a href="/contact">here</a> to book yours today? Starting from £50 with FREE delivery up to 10 miles around Plymouth, Saltash and across Devon.
        </div>
    </div>
    <div class="product-grid">
        <div class="product-tile kids">
            <div class="product-img">
                <img class="img-responsive" src="/images/289355146_300641718868911_300734862787302355_n.jpg" alt="jungle castle" />
            </div>
            <div class="caption">
                <h3>Jungle Castle</h3>
                <p>...</p>
                <div class="price">Starting from only <span>£85</span></div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Jungle_Castle">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>    
        <div class="product-tile kids">
            <div class="product-img">
                <img class="img-responsive" src="/images/kidsCastle_themePawPatrol.jpg" alt="velcro theme paw patrol" />
            </div>
            <div class="caption">
                <h3>Paw Patrol Castle</h3>
                <p></p>
                <div class="price">Starting from only <span>£85</span></div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Paw_Patrol_Themed_Castle">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-tile kids">
            <div class="product-img">
                <img class="img-responsive" src="/images/kidsCastle_themeBatMan.jpg" alt="velcro theme batman" />
            </div>
            <div class="caption">
                <h3>Superhero Castle</h3>
                <p></p>
                <div class="price">Starting from only <span>£85</span></div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Superhero_Themed_Castle">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-tile kids">
            <div class="product-img">
                <img class="img-responsive" src="/images/kidsCastle_themeFrozen.jpg" alt="velcro theme frozen" />
            </div>
            <div class="caption">
                <h3>Frozen Castle</h3>
                <p></p>
                <div class="price">Starting from only <span>£85</span></div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Frozen_Themed_Castle">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-tile kids">
            <div class="product-img">
                <img class="img-responsive" src="/images/kidsCastle_themePJMasks.jpg" alt="velcro theme pj masks" />
            </div>
            <div class="caption">
                <h3>PJ Masks Castle</h3>
                <p></p>
                <div class="price">Starting from only <span>£85</span></div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="PJ_Masks_Themed_Castle">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-tile kids">
            <div class="product-img">
                <img class="img-responsive" src="/images/Jungle 15x15.jpg" alt="jungle15x15" />
            </div>
            <div class="caption">
                <h3>Jungle 15x15</h3>
                <p>Featuring low roof, and digital art. Great Size!</p>
                <div class="price">Starting from only <span>£75</span></div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Jungle_15x15">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-tile kids">
            <div class="product-img">
                <img class="img-responsive" src="/images/ball_pool.jpg" alt="Ball Pool" />
            </div>
            <div class="caption">
                <h3>Ball Pool</h3>
                <p>The ball pool is a great add on to this castle with air jugglers that balance balls on top and a 5x5 Pool and with matching Soft Play looks fantastic.</p>
                <div class="price">Starting from only <span>£55</span></div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Ball_Pool">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-tile kids">
            <div class="product-img">
                <img class="img-responsive" src="/images/new12x15kids.png" alt="princess12x15" />
            </div>
            <div class="caption">
                <h3>Princess and Unicorn Bouncy Castle 12x15</h3>
                <p>Featuring low roof, digital art and slide. Great size!</p>
                <div class="price">Starting from only <span>£95</span></div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Princess_12x15">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-tile kids">
            <div class="product-img">
                <img class="img-responsive" src="/images/forestfairywizard.jpg" alt="forest-fairy+wizard" />
            </div>
            <div class="caption">
                <h3>Forest Fairy and Wizard 12x15</h3>
                <p>Featuring low roof, and digital art. Great Size!</p>
                <div class="price">Starting from only <span>£95</span></div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Forest_Fairy_and_Wizard_12x15">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-tile kids">
            <div class="product-img">
                <img class="img-responsive" src="/images/soft-play.jpg" alt="softplay 30pc" />
            </div>
            <div class="caption">
                <h3>Soft Play 30 Piece Set</h3>
                <p>A great addition to your event with our massive set of soft play!</p>
                <div class="price">Only <span>£95</span> or <br /><span>£75</span> with any Kid's Castle!</div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Soft_Play_30_Pieces">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-tile kids">
            <div class="product-img">
                <img class="img-responsive" src="/images/celebrationCombo.jpg" alt="celebrationCombo" />
            </div>
            <div class="caption">
                <h3>Celebration Combo</h3>
                <p></p>
                <div class="price">Only <span>£95</span></div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Celebration_Combo">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-tile kids">
            <div class="product-img">
                <img class="img-responsive" src="/images/didi.jpg" alt="Didi Cars" />
            </div>
            <div class="caption">
                <h3>Didi Cars</h3>
                <p>DidiCars or Wiggle Cars as some might call them. They power along just by turning the steering wheel. Only available as an add on.</p>
                <div class="price">Starting from only <span>£25</span></div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Didi_Cars">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-tile kids">
            <div class="product-img">
                <img class="img-responsive" src="/images/giantConnectFour.jpg" alt="connect four" />
            </div>
            <div class="caption">
                <h3>Giant Connect Four</h3>
                <p></p>
                <div class="price">Only <span>£55</span> or <br /><span>£35</span> with another castle!</div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Giant_Connect_Four">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-tile kids">
            <div class="product-img">
                <img class="img-responsive" src="/images/290465993_360892689497559_1004369933202606471_n.jpg" alt="croquet" />
            </div>
            <div class="caption">
                <h3>Croquet Set</h3>
                <p></p>
                <div class="price">Only <span>£45</span> or <br /><span>£25</span> with another castle!</div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Croquet">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>        
    </div>
</div>
