<div class="container">
    <h1 class="page-title">Package Deals<br />
        <span class="title-split"> Bouncing Crazy Bouncy Castle Hire Plymouth</span>
    </h1>
    <div class="product-grid">
        <div class="product-tile pdeals">
            <div class="product-img"><img class="img-responsive" src="/images/pdeal1.png" alt="Package deal 1" /></div>
            <div class="caption">
                <h3>Package Deal 1</h3>
                <p>A great deal for Stag do's and adult parties! Includes Bungee Run, Gladiator duel, Sumo Suits and a Bouncy Castle.</p>
                <div class="price">All for just <span>£245</span></div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Package_Deal_1">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-tile pdeals">
            <div class="product-img">
                <img class="img-responsive" src="/images/pdeals.jpg" alt="Package deal 2" />
            </div>
            <div class="caption">
                <h3>Package Deal 2</h3>
                <p>This is a very good all-round deal! The Amazing Assault Course, Gladiator Duel and Simpsons adult Bouncy Castle!</p>
                <div class="price">All for just <span>£265</span></div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Package_Deal_2">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-tile pdeals">
            <div class="product-img">
                <img class="img-responsive" src="/images/pdeals3.png" alt="Package deal 3" />
            </div>
            <div class="caption">
                <h3>Package Deal 3</h3>
                <p>Even bigger, even better! The Amazing Assault Course, Gladiator Duel and Simpsons adult Bouncy Castle! + Bungee Run and Sumo Suits!</p>
                <div class="price">All for just <span>£365</span></div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Package_Deal_3">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-tile pdeals">
            <div class="product-img">
                <img class="img-responsive" src="/images/Bouncy Castle and soft play deal.jpg" alt="Toddler Package deal" />
            </div>
            <div class="caption">
                <h3>Toddlers Package</h3>
                <p>Soft Play Set and any Kid's Castle.</p>
                <div class="price">All for just <span>£95</span></div>
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Toddlers_Package">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="product-tile pdeals">
            <div class="product-img">
                <img class="img-responsive" src="/images/flyer.jpg" alt="custom deal">
            </div>
            <div class="caption">
                <h3>Why not make your own?</h3>
                <p>Get in touch - 07816910152</p>
                <!-- <div class="price">...</div> -->
                <div class="enquire-now">
                    <form action="/contact" method="get">
                        <input type="hidden" name="enquiredProduct" value="Custom_Package_Deal">
                        <button type="submit" class="btn btn-info">Enquire now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
