<div class="container">
    <h1>Slides<br />
        <span class="title-split"> Bouncing Crazy Bouncy Castle Hire Plymouth</span>
    </h1>
    <div class="product-grid">
        <div class="product-tile slides">
            <img class="img-responsive" src="/images/newSlide.jpg" alt="10ft slide" />
            <div class="caption">
                <h3>10ft platform Mega Slide 17x20</h3>
                <p>The ultimate extreme fun for any party</p>
            </div>
            <div class="price">Only £120</div>
            <div class="enquire-now">
                <button class="btn btn-info">Enquire now</button>
            </div>
        </div>
        <div class="product-tile slides">
            <img class="img-responsive" src="/images/upandover-mini-slide.JPG" alt="6ft slide" />
            <div class="caption">
                <h3>6ft Up and Over Slide 17x20</h3>
                <p>The ultimate extreme fun for any party</p>
            </div>
            <div class="price">Only £85</div>
            <div class="enquire-now">
                <button class="btn btn-info">Enquire now</button>
            </div>
        </div>
    </div>
</div>
