<div class="container">
    <div class="jumbotron">
        <h1 class="page-title">Vintage Vera Caravan Photobooth<br />
            <span class="title-split"> Bouncing Crazy Bouncy Castle Hire Plymouth and across Devon</span>
        </h1>
        <hr />
        {{> veraPhotos }}
        <div class="textbox">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <h2>Hi I'm Vera</h2>
                    Are you looking for that extra wow factor for your wedding, or that entertainment for your corporate event or even a memory bank from a wedding anniversary? Well you have come to the right place we can do literally anything to this photo booth to add that WOW factor to your event.
                    <h3>Just a few of the perks to having a caravan photobooth:</h3>
                    <ul>
                        ​<li>It adds its own space instead of taking up precious space inside your venue</li>
                        <li>Full screen viewing at the front</li>
                        <li>Looks stunning at any venue</li>
                        <li>Adds that vintage touch to any wedding</li>
                        <li>The only Booth with photobombing as an option</li>
                        <li>And so much more!</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="vera-packages">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <h2>Flexible Packages for Hiring Vintage Vera</h2>
                    <div>
                        <h3>Bronze Package</h3>
                        <ul>
                            <li>Caravan Photobooth</li>
                            <li>Fully customisable</li>
                            <li>DSLR Camera</li>
                            <li>Touch Screen full automation</li>
                            <li>5 hour usage</li>
                            <li>Get all your photos on a CD</li>
                            <li>50+ Props</li>
                        </ul>
                        <div class="price">£295 (SPECIAL OFFER USUALLY £395)</div>
                    </div>
                    <div>
                        <h3>Silver Package</h3>
                        <ul>
                            <li>Caravan Photobooth</li>
                            <li>Fully customisable</li>
                            <li>DSLR Camera</li>
                            <li>Sub Dye Printing Technology</li>
                            <li>Touch Screen full automation</li>
                            <li>4 hour usage</li>
                            <li>Unlimited prints</li>
                            <li>Get all your photos on a CD</li>
                            <li>50+ Props</li>
                            <li>Attendant to help everything go smoothly</li>
                        </ul>
                        <div class="price">£395 (SPECIAL OFFER USUALLY £495)</div>
                    </div>
                    <div>
                        <h3>Gold Package</h3>
                        <ul>
                            <li>Caravan Photobooth</li>
                            <li>Fully customisable</li>
                            <li>DSLR Camera</li>
                            <li>Sub Dye Printing Technology</li>
                            <li>Touch Screen full automation</li>
                            <li>FULL DAY USAGE</li>
                            <li>Unlimited prints</li>
                            <li>Get all your photos on a CD</li>
                            <li>50+ Props</li>
                            <li>Scrapbook with all photos professionally arranged</li>
                            <li>Attendant to help everything go smoothly</li>
                        </ul>
                        <div class="price">£495 (SPECIAL OFFER USUALLY £595)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
